/**************************************general*/
.sections{
	padding: 20px 0px;
}

.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.5);
}

body{

}

/**************************************header*/
header{
	height: auto;
	padding: 10px 0px;
	position: fixed;
	width: 100%;
	z-index: 999;
	
}

header nav .logo2{
	padding-left: 8px;
}

header nav .logo{
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	padding-bottom: 20px;
}

header nav .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 0;
}

header nav .nav-list .list a{
	display:block;
	color: #fff;
	text-decoration: none;
	padding: 15px;
	margin-bottom: 9px;
	transition: all 0.3s ease-in-out;
}
header nav .nav-list .list a:hover{
	color: #fff;
}

.sticky{
	background: #000;
	z-index: 1000;
}



/**************************************home section*/
.home{
	height: 650px;
	background-image:url(../imgs/homesection.jpg);
	background-size: cover;
	background-position:center;
	position: relative;

}

.home .home-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home .home-title{
	color: #fff;
	font-size: 40px;
	margin-bottom: 20px;
}

.home .home-desc{
	color: #fff;
	font-size: 18px;
}

.home .button{
	background: #000;
	color: #fff;
	width: 150px;
	padding: 15px 0px;
	margin: 15px 0px;
}


@media (max-width: 575px){
	.home .home-title{
		font-size: 22px;
	}

	.home .button{
		margin-bottom: 10px;
	}
}
/**************************************home section*/